@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "karla";
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(204, 43%, 93%);
}
.container {
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "about about"
    "price why-us";
    box-shadow: 1px 1px 6px 0px;
  /* background-color: beige;
    padding: 25px; */
}
.about {
  grid-area: about;
  padding: 25px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}
.about h3 {
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  margin-bottom: 20px;
}
.about .money {
  color: hsl(71, 85%, 47%);
  font-weight: 700;
  margin-bottom: 10px;
}
.about .des {
  color: hsl(218, 22%, 67%);
  font-size: 15px;
  margin-bottom: 10px;
}
.price {
  grid-area: price;
  padding: 25px;
  background-color: hsl(179, 62%, 43%);
}
.price h4 {
  color: white;
  margin-bottom: 15px;
}
.price .dollar {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
.price .dollar span {
  margin-left: 10px;
  font-size: 14px;
  color: hsl(203, 80%, 82%);
  font-weight: 200;
}
.price .pri-op {
  margin-bottom: 20px;
  color: rgb(245, 234, 234);
  font-size: 14px;
  font-weight: 400;
}
.price button{
    width: 85%;
    padding: 10px 8px 10px 8px;
    background-color: hsl(71, 84%, 59%);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.why-us {
  grid-area: why-us;
  padding: 25px;
  background-color: hsl(179, 61%, 45%);
}
.why-us h4{
 color: rgb(253, 253, 253);
 margin-bottom: 20px;
}
.why-us ul li{
    color: rgb(245, 234, 234);
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 3px;
}
